{% extends 'base.html' %}
{% load static %}

{% block page-title %}
    {{ doctor_detail.name }}
{% endblock %}

{% block page-header %}
    {% include 'header.html' %}
{% endblock %}

{% block page-body %}
    <div class="container w-75 m-5">
        <div class="row w-75 my-5 ml-3">
            <!-- Image -->
            {% if doctor_detail.image %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                    <div class="card-body">
                        <img class="img-fluid" src="{{ doctor_detail.image.url }}" height="250px" width="200px"/>
                    </div>
                </div>
            {% endif %}

            <div class="col-12 col-md-8 my-3 pr-0">
                <h5> Name: </h5> {{ doctor_detail.name }}
                <h5> Qualifications: </h5>{{ doctor_detail.qualification }}
                <h5>Affiliated to: </h5> {{ doctor_detail.hospital }}
                {% if doctor_detail.schedule %}
                    <h5>Schedule: </h5>{{ doctor_detail.schedule }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <!-- Description -->
            <div class="col-12">
                <div class="card-header"><h4><i class="fas fa-list"></i>&nbsp;Details</h4></div>
                    <div class="card-body">
                        <p class="text-justify">  {{ doctor_detail.details }} </p>
                    </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block page-footer %}
    {% include 'footer.html' %}
{% endblock %}