.navbar-dark .navbar-nav .nav-link {
	font-size: 18px;
	color: #fff;
	border-bottom: 3px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover {
	font-size: 18px;
	color: #fff;
	border-bottom: 3px solid;
}

.nav-link {
	padding-left: 0.9em;
	padding-right: 0.9em;
}

.nav-item {
	margin: 5px;
}

.unique-color-dark {
    background-color: #a91623;
    color: #fff;
}

form.form-group.input {
	width: 225px;
}

.bg-dark {
    background-color: #a91623!important;
}

a.btn.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #a91623;
    border-color: #a91623;
}

button.btn.btn-primary {
	background-color: #a91623;
    border-color: #a91623;
	font-size: 18px;
	color: #fff;
}

a.btn.btn-primary {
	background-color: #a91623;
    border-color: #a91623;
	font-size: 18px;
	color: #fff;
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: none;
}

#dot li {
  	width: 10px ;
  	height: 10px ;
  	border-radius: 100%;
}

.bg {
	background-color: #ffffff;
}

.card-img.avatar {
	vertical-align: middle;
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.shadow {
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.10)!important;
}

#bg_c:hover {
	transform: scale(1.05);
	transition: transform .3s;
}

.img_c {
	height: 80px;
	width: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#bg_c {
    background-color: #ffdcd6;
}

i.fas.fa-hand-point-up.fa-7x {
    color: #00b0f0;
}

div#img_f {
    text-align: center;
}

.page-item.active .page-link {
	background-color: #a91623;
    border-color: #4478ad;
}

.primary-color {
	background-color: #a91623;
}

.fas.fa-quote-left, .fas.fa-quote-right {
	font-size: 30px;
}

.no-padding {
	padding-right: 2px;
	padding-left: 2px;
	margin-bottom: 0;
}

label.btn {
	background-color: #a91623;
	color: white;
	font-size: 18px;
}

h1 {
	color: #a91623;
}

.form-group {
    margin: 1em;
}

.form-control {
    width: 100%;
}


.dashboard .card-img-block{
    /*float:left;*/
    /*width:100%;*/
    /*height:150px;*/
	position:relative;
    /*overflow:hidden;*/
}

.dashboard .profile {
	border-radius: 50%;
	position: absolute;
	bottom: -20px;
	left: 20%;
	max-width: 100px;
	border: 3px solid rgba(255, 255, 255, 1);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.dashboard h5 {
    font-weight:600;
    /*color:#6ab04c;*/
}

a.signup {
    font-weight: 600;
}

.dropdown-menu {
	min-width: 15rem;
}
