<!-- Footer -->
<!-- <div class="container"> -->
    <footer class="page-footer font-small unique-color-dark">
{#        <div class="container-fluid text-center text-md-left">#}
{#            <div class="row pt-5">#}
{#                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 offset-md-1">#}
{#                    <img src="{{ contact.footer_logo.url }}" alt="Logo">#}
{#                    <br>#}
{#                    <p>{{ contact.slogan }}</p>#}
{#                </div>#}
{##}
{#                <div class="col-md-4 col-lg-3 col-xl-3 mb-md-0 mb-4 ml-auto">#}
{#                    <h6 class="text-uppercase font-weight-bold">Contact</h6>#}
{#                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">#}
{#                    <p>#}
{#                        <i class="fa fa-home"></i> {{ contact.address }}</p>#}
{#                    <p>#}
{#                        <i class="fa fa-envelope"></i> {{ contact.email }}</p>#}
{#                    <p>#}
{#                        <i class="fa fa-phone"></i> {{ contact.phone_number }}</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">&copy; 2019. All Rights Reserved.
                <a href="#" target="_blank" style = "color: #fff;"> Developed by Team</a>
            </div>
        <!-- Copyright -->

    </footer>
<!-- </div> -->
<!-- Footer -->
